@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
  
}



<div class="row">
    <div class="col-md-3 ">
        <h2>Design Synthesis</h2>
        <ul>
            <li><a asp-page="./Orders/Index" class="btn-link">Create Purchase Order </a></li>
            <li><a asp-page="./Orders/Index" class="btn-link">Recieve Purchase Order</a></li>
            <li><a asp-page="./Parts/Index" class="btn-link">Create Part</a></li>
            <li><a asp-page="./Products/Index" class="btn-link">New Product</a></li>
            
 
        </ul>
    </div>
</div>

<div class="container">
 
    <div class="alert alert-warning ">
        <h4>Import Notice</h4>
        <p></p>
    </div>
    <hr />
    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Single event in a single day -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div><h2>@DateTime.Today.Day</h2></div>
                            <div>@DateTime.Today.DayOfWeek</div>
                            <div class="shortdate text-muted">July, 2014</div>
                        </td>
                        <td class="agenda-time">
                           @DateTime.Now.ToShortTimeString()
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i>
                                <a href="https://www.smartsheet.com/">Schedule</a>
                            </div>
                        </td>
                    </tr>

                    <!-- Multiple events in a single day (note the rowspan) -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="3">
                            <div><h2>@DateTime.Today.AddDays(1).Day </h2></div>
                            <div >@DateTime.Today.AddDays(1).DayOfWeek</div>
                            <div class="shortdate text-muted">July, 2014</div>
                        </td>
                        <td class="agenda-time">
                            8:00 - 9:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Delivery
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:15 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Review
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            7:00 - 9:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Safety Meeting
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
