@page
@model Weaselware.Lemur.Pages.Orders.OrderDetailModel
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "_Layout";
}

@section Scripts{
    <!--<script> src="~/lib/jquery/dist/jquery-autocomplete/jquery.auto-complete.min.js"</script>
    <link href="~/lib/jquery/dist/jquery-autocomplete/jquery.auto-complete.min.css" />

    <script>

        $('#supplier').autocomplete({
            source: function (term, response) {
                $.getJSON('/SuppliersFilter/', { supplier: term }, function (data) { response(data); });
            }
        });

        </script>
    -->

    <!--

  <script src="@Href("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
     <script src="@Href("/Scripts/jquery-ui-1.8.15.custom.min.js")" type="text/javascript"></script>

    <link href="@Href("/Styles/site.css")" type="text/css" rel="stylesheet" />
     <link href="@Href("/Styles/jquery-ui-1.8.15.custom.css")" type="text/css" rel="stylesheet" />


    <script type="text/javascript">
        $(function () {
            $('#supplier').autocomplete({
                source: '/SuppliersFilter/',
                select: function (event, ui) {
                    var id = ui.item.value;
                    var name = ui.item.label;
                    $('#result').val(ui.item.value);
                    $('#supplier').val(name);
                    return false;

                }
            });
        });
    </script>
      --> 

}


<body>

   <!-- <form method="post">
        <label for="supplier">Enter Supplier: </label>
        <input type="text" name="supplier" id="supplier" />
        <input type="text" id="result" />
    </form>-->
    <div class="container">
        <div class="row bg-light">

            <div class="col-lg-4 col-md-4 col-sm-4 col-md-12 ">
                <div class="box-part text-left">
                    <div class="title">
                        <h4>Design Synthesis</h4>
                    </div>
                    <div class="text">
                        <span>
                            9855 Black Mountain Rd<br />
                            San Diego, CA 92126<br />
                            Ph 858.271.8480<br/>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-left">
                    <div class="title">
                        <h4>@Model.Order.SupplierName</h4>
                    </div>
                    <div class="text">
                        <span>
                            @Model.Order.SupplierAddress<br />
                            @Model.Order.SupplierCity , @Model.Order.SupplierState  @Model.Order.SupplierZip<br />
                            @Model.Order.SupplierPhone
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                <div class="box-part text-left">
                    <div class="title">
                        <h4>PO# : @Model.Order.PurchaseOrderID</h4>
                    </div>
                    <div class="text">
                        <span>
                            Order Date : @Model.Order.OrderDate<br/>
                            Purchaser : @Model.Order.Purchaser<br />
                            Shipping : @Model.Order.ShippingMethod
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <br/>
    </div>
    <!--Line Items Header-->
        <div class="row p-2">
            
                <div class="col-lg-4">
                    <strong>Job :</strong> <a asp-page="/Jobs/JobDetail"  asp-route-id="@Model.Order.JobID">@Model.Order.JobName</a><br>
                </div>
                <div class="col-md-4">                 
                        <strong>Job Cost:</strong> @Model.Order.JobCostName<br>                   
                </div>   
        </div>
        <!--Line Items Table-->
        <div class="row">
            <div class="col-md-12">
                
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <td><strong>Description</strong></td>
                                        <td class="text-xs-center"><strong>Part#</strong></td>
                                        <td class="text-xs-center"><strong>Quantity</strong></td>
                                        <td class="text-xs-center"><strong>Price</strong></td>
                                        <td class="text-xs-right"><strong>Extended</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in Model.Order.LineItems)
                                    {
                                        <tr>
                                            <td>@i.Description</td>
                                            <td><a asp-page="/Parts/PartEdit" asp-route-id="@i.PartID">@i.PartID.ToString()</a></td>
                                            <td>@i.Quantity.ToString("N0")</td>
                                            <td>@i.Price.ToString("C")</td>
                                            <td>@i.Extended.ToString("C")</td>
                                        </tr>
                                    }
                                    <!--Summary Lines-->
                                        <tr>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow text-xs-center"><strong>Subtotal</strong></td>
                                            <td class="highrow text-xs-right">@Model.Order.SubTotal.ToString("C")</td>
                                        </tr>
                                        <tr>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow text-xs-center"><strong>Tax</strong></td>
                                            <td class="emptyrow text-xs-right">@Model.Order.Tax.ToString("C")</td>
                                        </tr>
                                        <tr>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow text-xs-center"><strong>Shipping</strong></td>
                                            <td class="emptyrow text-xs-right">@Model.Order.ShippingCost.ToString("C")</td>
                                        </tr>
                                        <tr>
                                            <td class="emptyrow"><i data-feather="barcode"></i></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow"></td>
                                            <td class="emptyrow text-xs-center"><strong>Total</strong></td>
                                            <td class="emptyrow text-xs-right">@Model.Order.OrderTotal.ToString("C")</td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    
                
            </div>
        </div>
    
</body>


<style>
    .height {
        min-height: 200px;
    }

    .icon {
        font-size: 47px;
        color: #5CB85C;
    }

    .iconbig {
        font-size: 77px;
        color: #5CB85C;
    }

    .table > tbody > tr > .emptyrow {
        border-top: none;
    }

    .table > thead > tr > .emptyrow {
        border-bottom: none;
    }

    .table > tbody > tr > .highrow {
        border-top: 3px solid;
    }
    .ul.li{
        padding:0px;
    }
    
    .panel-primary{
        margin-bottom:12px;
    }
</style>

